@import "tailwindcss";

@theme {
    --color-gray: #2b303b;
    --color-lightgray: #373d49;
    --color-green: #5cecc6;
    --color-maroon: #c32148;
    --color-yellow: #f8e9a1;
    --color-navy: #0d192b;
}

@layer base {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scrollbar-color: #f8e9a1 #2b303b;
        scrollbar-width: thin;
    }

    html {
        scroll-behavior: smooth;
    }

    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    table,
    li {
        user-select: none;
    }

    .ellipsis-text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    button,
    a {
        cursor: pointer;
    }
}

@layer utilities {
    .border-opacity-0 {
        --tw-border-opacity: 0;
    }

    .border-opacity-100 {
        --tw-border-opacity: 1;
    }
}

@layer components {
    .gradient-text {
        background-image: linear-gradient(
            -225deg,
            #f8e9a1 0%,
            #b72946 33%,
            #6cf7b2 66%,
            #f8e9a1 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 3s linear infinite;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    @keyframes fadeInSlide {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fadeInSlide {
        animation: fadeInSlide 0.25s ease forwards;
    }
}
